header{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 45px
} 


nav{
    color:orange;
    text-align: center;
    font-size: 30px;
    word-spacing: 50px;
    padding-top: 15px;
}

a{
       color: black;
}

body{
    background-color: orange;
    font-size: 27;
    text-align: center
}


h1{
    text-align: center;
    padding-top: 165px
}

.container {

    display: flex;

    gap: 20px;

    padding: 20px;

    justify-content: center;

}
 
.box {

    display: flex;

    align-items: center;

    gap: 15px;

    background-color: orange;

    border: 1px solid #ddd;

    border-radius: 8px;

    padding: 15px;

    flex: 1;

}
 
.box img {

    width: 100px;

    height: 100px;

    object-fit: cover;

    border-radius: 4px;

    flex-shrink: 0;

}
 
.box p {

    font-size: 14px;

    line-height: 1.5;


}

h1 {
    text-align: center;
    margin-left: 15px;
}


h2{
    text-align: left;
    margin-left: 5px;
}

.course{
    width: 200px;
    height: 200px;
    border: 3px solid black;
    font-size: 15px;
    margin: 5px;
    margin-top: 25px;
    text-align: center;
    
    
}

.contactinfo{
    border: solid black;

}


.details{
    border: solid black;
    margin: 40px;
    text-align: left;

}

.codinglevel{
    border: solid black;
    text-align: left;
}


.submit{
    align-items: center;
    width: 300px;
    margin-top: 30px;
    margin-left: 38%;
    border: solid black;
}

.submitheader{
    border: solid black;
    margin-top: 50px;
}

.return{
    border: solid black;
    margin-top: 170px;
    width: 300px;
    margin-left: 38%;
}

